.maincontainer{
    text-align: center;
}
span, a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

body {
    background: #121111;
    font-family: Tahoma, Arial;
    font-size: 1em;
    font-weight: 400;
    color: #ebebeb;
}
.Logo{
    text-align: left;
    font-size: 29px;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#logo{
    color: #ebebeb;
}

/* darkmode button */
.toggle-container{
    padding-left: 7px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

#toggle-button{
    width: 50px;
    height: 20px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
}
#toggle-button > .inner-circle{
    width:  20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
#toggle-button.active{
    background: #00acee;
}

#toggle-button > .inner-circle:focus{
    background-color: black;
}


#toggle-button.active > .inner-circle{
    margin-left: 30px;
}


/* darkmode button end */

.Music{
    margin-bottom: 10px;
}
#Music_name{
    font-size: 2.4em;
    font-weight: bold;
}
#Music-player{
    width: 100%;
    height: 100%;
    margin: auto;
    clear: both;
    max-width: 1400px;
    max-height: 450px;
    display: block;
}
#Main-panel, #Side-panel, #Type-panel{
    float: left;
    vertical-align: top;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#Main-panel{
    width: 800px;
    padding: 5px 0;
    height: 540px;
}
#lyrics-zone{
    margin-top: 40px;
    width: 800px;
    height: 100px;
    margin-bottom: 40px;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
}


#Side-panel{
    width: 400px;
    padding: 5px;
    height: 430px;
}
#Type-panel{
    width: 200px;
    padding: 5px;
    height: 450px;
}
#playlist-searcher{
    margin: 0;
    width: 100%;
    /* box-sizing: border-box; */
}
#playlist{
    margin-top: 10px;
    max-height: 400px;
    overflow: auto;
}
.Type{
    display: block;
    color: black;
    padding: 5px;
    background: #EAEDED;
    margin-bottom: 3px;
    box-sizing: border-box;
}
.type-a{
    color: black;
}



/* 만약 창 화면 가로가 1410 px이하가 되면 */
/* 만약 창 화면 가로가 1410 px이상이 되면 */
@media screen and (max-width: 1600px) {
    body,#iframe {margin:0;padding:0;font-size: 15px;}
    #Main-panel{width: 100%;}
    #Side-panel, #Type-panel{width: 50%; height: 490px;}
    #Main-panel{
        height: 548px;
    }

    /* lyrics */
    #lyrics-zone{
        width: 100%;
        padding: 0px;
        text-align: center;
        font-size: 14px;
        margin: 0px;
    }
}

/* 만약 창 화면 가로가 900 px이 되면 */
@media screen and (max-width: 900px) { 
    body,#iframe {margin:0;padding:0;font-size: 15px;}
    #Main-panel,#Side-panel,#Type-panel{width: 100%;}
    #player{
        width: 100%;
    }
    #Main-panel{
        height: 548px;
    }
    #playlist{
        height: 385px;
    }
    #Type-panel{
        height: 340px;
    }

    /* lyrics */
    #lyrics-zone_artistname, #lyrics-zone_musicname{
        font-size: 20px;
    }
}
